<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Achievements and Certificates</title>
  <link rel="stylesheet" href="../assets/css/style.css" />
</head>
<body>
  <header class="navbar">
    <div class="logo-title">
      <img src="../assets/images/logo.png" alt="Logo" class="logo" />
      <h1>Zakeerah Perveen</h1>
    </div>
    <nav>
      <ul class="nav-links">
        <li><a href="index.html">Home</a></li>
      </ul>
    </nav>
  </header>

  <main class="Certificates">
    <h2>My Certificates</h2>
    <div class="cert-grid">
      <div class="cert-item">
        <img src="../assets/images/NDP.jpg" alt="Recent Certificate">
        <p>This certificate was obtained from volunteering, through NYP Primers CCA, and participating as a Motivator during National Day Parade 2024. Despite the higher commitment and the full day training on Saturdays for months, given the opportunity, I'd do it all again!</p>
      </div>
      <div class="cert-item">
        <img src="../assets/images/Leo.jpg" alt="Certificate">
        <p>I had volunteered in another event held by Leo club and had gotten the opportunity to be able to cheer up a group of elderly from Sunrise Home, by bringing them out to eat and shop. I was specifically more involved in the security part, ensuring they'd all cross through the roads safely despite the number of elderly and their assigned volunteers.</p>
      </div>
      <div class="cert-item">
        <img src="../assets/images/Leo_home.jpg" alt="Certificate">
        <p>I had volunteered in a fundraising event held by Leo club (CCA), of which I am a subcommittee member in my second and third year, to raise awareness and collect donations for the seniors in Lion's home.</p>
      </div>
    </div>
  </main>

  <footer>
    <p>© 2025 Zakeerah Perveen. All rights reserved.</p>
  </footer>
</body>
</html>