{% extends "base.html" %}

{% block title %}Budgeting{% endblock %}

{% block content %}
<section>
    <h2>Budgeting</h2>
    <h2>Overview</h2>
    <p>This web application was designed to help youth users manage their financial decisions through trackers, educational content, and goal-setting features.</p>
    <h3>Contributions</h3>
    <ul>
        <li>Designed account management features, including user registration and login functionalities.</li>
        <li>Developed a dashboard and tracker allowing users to tag expenses and income with categories.</li>
        <li>Implemented comparisons between user goals and actual financial performance.</li>
    </ul>
    <h3>Tools Used</h3>
    <ul>
        <li>Python Flask</li>
        <li>JavaScript</li>
        <li>HTML/CSS</li>
        <li>SQLAlchemy</li>
    </ul>
    <h3>Gallery</h3>
    <div class="gallery">
        <img src="{{ url_for('static', filename='assets/images/budgetinghome.png') }}" alt="Home Screenshot">
        <img src="{{ url_for('static', filename='assets/images/budgeting2.png') }}" alt="Budgeting Screenshot">
    </div>
</section>
{% endblock %}
