{% extends "base.html" %}

{% block title %}EarthEcho{% endblock %}

{% block content %}
    <section>
        <h2>EarthEcho</h2>
        <h2>Overview</h2>
        <p>EarthEcho is an educational platform designed to promote sustainable living through blog posts, gamification, and rewards. The project emphasizes application security while encouraging sustainable practices.</p>
        <h3>Contributions</h3>
        <ul>
            <li>Implemented functionalities for blog creation, uploading, editing, tagging, and viewing.</li>
            <li>Worked collaboratively to ensure smooth user experience and secure data handling.</li>
        </ul>
        <h3>Tools Used</h3>
        <ul>
            <li>Python Flask</li>
            <li>JavaScript</li>
            <li>Cryptography</li>
            <li>MySQL</li>
        </ul>
        <h3>Gallery</h3>
        <img src="assets/images/earthecho-blog.png" alt="Blog Page Screenshot">
        <img src="assets/images/earthecho-dashboard.png" alt="Dashboard Screenshot">
    </section>
{% endblock %}

